/* .phone-number-select-wrapper .phone-number-input {
    padding-left: 40% !important;
} */

.form-check > label > a{
    color: #084896;
}

/* @media (max-width: 1000px) {
    .phone-number-select-wrapper .phone-number-input {
        padding-left: 100px!important;
    }
} */
